body {
  color: #233f57;
  font-family: 'Montserrat', sans-serif;
  background: #eee0cb;
  line-height: 1.6;
  font-size: .875rem;
  margin: 0;
  padding: 0;
}

h1, h3{
font-family: 'Quattrocento', cursive; 
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
