header {
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}


nav {
  display: none;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  text-transform: uppercase;
  // font-size: 1.2rem;
  text-decoration: none;
}

nav a:hover,
nav a:focus
{
  color: #000;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav{
  display: block;
}

.nav-toggle-lable {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  // border: 1px solid red;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-lable span,
.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
  display: block;
  background: #233f57;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
  content: '';
  position: absolute;
}
.nav-toggle-lable span::before{
  bottom: 7px;
}

.nav-toggle-lable span::after {
  top: 7px;
}