@import './modules/colours';
@import './modules/typography';
@import "./partials/form";
@import './partials/nav';
@import './partials/media-queries';
@import './partials/normalize';

// font families 
// font-family: 'EB Garamond', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Quattrocento', serif;

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
  color: $indigo;
  font-family: $ff-body;
  background: $champagne;
  line-height: 1.6;
  font-size: .875rem;
  margin: 0;
  padding: 0;
}

h1, h3{
font-family: $ff-titles; 
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}
.listings {
    list-style-type: none;
}

footer {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}

@media (max-width: 450px) {
    .wrapper {
        width: 100%;
    }
}