@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&family=Quattrocento&display=swap');

$ff-titles: 'Quattrocento', serif;
$ff-body: 'Montserrat', sans-serif;

$fw-n: 400;
$fw-b: 700;
