@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&family=Quattrocento&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.formSection {
  background: url("https://cdn.pixabay.com/photo/2017/08/01/00/38/man-2562325_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: hue;
  padding: 100px 0 100px 0;
}

fieldset {
  border-bottom: 1px solid #eee;
  margin-bottom: 21px;
  padding-bottom: 10.5px;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

.formSection h2,
.formSection h3 {
  text-align: center;
  color: #000000;
  padding: 0;
  margin: 5px 0;
}

.formSection h2 {
  font-size: 20px;
  padding-top: 100px;
}

.formSection h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

form {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #233f57;
  padding: 10px 20px;
  background: rgba(184, 219, 244, 0.6);
  text-align: center;
  overflow: hidden;
}
form p {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}
form h3 {
  text-align: center;
  font-size: 20px;
  border: 4px solid black;
  width: 25%;
  margin: 5px auto;
  margin-top: 10px;
  padding: 2px;
  background: #b8dbf4;
  color: black;
  font-family: "Quattrocento", serif;
}
form select {
  background: #b8dbf4;
  padding: 10px 0;
  border: 3px solid #4f5d75;
  text-align: center;
  margin: 15px auto;
  border-radius: 2%;
  font-family: "Quattrocento", serif;
}
form select:hover {
  background: black;
  color: white;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h3,
label,
p {
  font-family: "Quattrocento", serif;
}

.selectBars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 5px solid black;
}

.error {
  color: red;
  padding: 0;
}

#category_error {
  display: none;
}

.singleSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.singleSelect label {
  font-size: 20px;
  width: 65%;
  margin: 0 auto;
  border: 2px solid black;
  padding: 5px;
}
.singleSelect p {
  margin: 0;
}

.singleSelect label {
  background: #233f57;
  color: lightgrey;
}

.jobCategory,
.userLevel {
  padding: 10px 100px;
}

.locationDiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 10px 10px 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searchButton {
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
  background: grey;
  color: black;
  border: 2px solid black;
  border-radius: 2%;
  width: 96%;
  font-family: "Montserrat", sans-serif;
}

.searchButton:hover {
  background: black;
  color: white;
}

.cityImg {
  width: 100%;
  height: 125px;
  margin: 5px;
  display: block;
  margin: 0 auto;
}

.cityDiv {
  position: relative;
  border: 5px solid black;
  width: 23%;
  background: #233f57;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cityDiv input {
  display: block;
  margin: 0 auto;
}
.cityDiv:hover {
  background: #4f5d75;
  color: white;
}

@media (max-width: 1200px) {
  .selectBars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .singleSelect,
.singleSelect label {
    width: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .locationDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
  }

  .cityDiv {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .singleSelect, .singleSelect label {
    width: 100%;
  }
}
header {
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #eee0cb;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  text-transform: uppercase;
  color: #233f57;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

nav a:hover,
nav a:focus {
  color: #000;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #233f57;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.navTransition {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out 200ms;
  transition: opacity 200ms ease-in-out 200ms;
}

.navMenu {
  display: none;
}

@media (min-width: 800px) {
  .navToggleLabel {
    display: none;
  }

  .header-section {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }

  .logo {
    grid-column: 2/3;
  }

  nav {
    all: unset;
    grid-column: 3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  nav li {
    margin-bottom: 0;
    margin-left: 3em;
  }

  nav a {
    opacity: 1;
  }
}
@media (min-width: 500px) {
  .navMenu {
    display: inline;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

<<<<<<< HEAD
=======
.hidden {
  visibility: hidden;
}

>>>>>>> 0a913d414a7d4ed148fcbabdfdf017924e1d1bb5
.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  color: #233f57;
  font-family: "Montserrat", sans-serif;
  background: #eee0cb;
  line-height: 1.6;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

h1, h3 {
  font-family: "Quattrocento", serif;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

.listings {
  list-style-type: none;
}

footer {
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
}

@media (max-width: 450px) {
  .wrapper {
    width: 100%;
  }
}